<head>
  <meta charset="utf-8">
  <link rel="icon" href={{ "/assets/images/favicon.svg" | relative_url }} sizes="any" type="image/svg+xml">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>{{ page.title | replace_first: "/", "" }}</title>
  {%- seo title=false -%}
  {% if page.robots %}
    <meta name="robots" content="{{page.robots}}" />
  {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" | relative_url }}">
</head>
